[submodule "misc/ext/OpenMesh"]
	path = misc/openmesh/ext/OpenMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "topovis/topologytoolkit/ext/ttk/ttk"]
	path = topovis/topologytoolkit/ext/ttk/ttk
	url = https://github.com/inviwo/ttk
[submodule "medvis/dicom/ext/gdcm/gdcm"]
	path = medvis/dicom/ext/gdcm/gdcm
	url = https://git.code.sf.net/p/gdcm/gdcm
[submodule "misc/nanovgutils/ext/nanovg"]
	path = misc/nanovgutils/ext/nanovg
	url = https://github.com/memononen/nanovg.git
